{% load static %} 

<div class = "card-group">
{% if contact.gender == 'male' %}
<!-- Card for details -->

<div class="card text-white bg-secondary mb-3 my-2 mx-2 boy-card {% if 'detail' in request.path %}mx-auto w-25{% endif %}" 
style="max-width: 15rem;" 
>
  <img
    src="{% if contact.image %}
            {{ contact.image.url }}
        {% else %}
             {% static 'images/Boy.png' %}
        {% endif %}"
    class="img-fluid"/>
  <div class="card-header" >
    <a href="{% url 'detail' contact.id %}" class="text-white header-link">{{ contact.name }}</a>
  </div>
  <div class="card-body pb-0 " >
    <p>
      <i class="fas fa-envelope"></i>  <a href="mailto:{{ contact.email }}" class="text-white header-link">{{ contact.email }}</a>
    </p>
    <p>
      <i class='fas fa-fax' style='font-size:24px;color:white'></i>
      <a href="tel:{{ contact.phone }}" class="text-white header-link">{{ contact.phone }}</a>
    </p>
    <p><i class="fas fa-user-alt"></i> {{ contact.info }}</p>
  </div>
  </div>

{% else %}     

<div class="card text-white bg-secondary mb-3 my-2 mx-2 girl-card " 
style="max-width: 15rem;" 
>
  <img
    src="{% if contact.image %}
        {{ contact.image.url }}
        {% else %}
        {% static './images/Girl.png' %}
        {% endif %}"
    class="img-fluid" 
  />
  <div class="card-header">
    <a href="{% url 'detail' contact.id %}" class="text-white header-link">  {{ contact.name }}</a
    >
  </div>
  <div class="card-body pb-0">
    <p>
      <i class="fas fa-envelope"></i>  <a href="mailto:{{ contact.email }}" class="text-white header-link">{{ contact.email }}</a>
    </p>
    <p>
     <i class='fas fa-fax' style='font-size:24px;color:white'></i>  <a href="tel:{{ contact.phone }}" class="text-white header-link">{{ contact.phone }}</a>
    </p>
    <p><i class="fas fa-user-alt"></i>  {{ contact.info }}</p>
  </div>
 </div>
  </div>
{% endif %}
